name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format-check:
    runs-on: ubuntu-latest
    name: Check Terraform formatting

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Terraform format check
        run: terraform fmt -check -recursive .

  validate:
    runs-on: ubuntu-latest
    name: Validate Terraform configuration
    strategy:
      matrix:
        path:
          - "."
          - "examples/project-registration"
          - "modules/asset-inventory"
          - "modules/log-ingestion"
          - "modules/project-discovery"
          - "modules/workload-identity"

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Terraform validate
        run: |
          cd ${{ matrix.path }}
          terraform init
          terraform validate
        env:
          TF_IN_AUTOMATION: true