name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format-check:
    runs-on: ubuntu-latest
    name: Check Terraform formatting

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Terraform format check
        uses: dflook/terraform-fmt-check@ff37545fa0e818467e88bc8456cc8a7b202b1b60
        with:
          path: .

  validate:
    runs-on: ubuntu-latest
    name: Validate

    strategy:
      matrix:
        path:
          - "."
          - "examples/project-registration"
          - "modules/asset-inventory"
          - "modules/log-ingestion"
          - "modules/project-discovery"
          - "modules/workload-identity"

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Validate ${{ matrix.path }}
        uses: dflook/terraform-validate@ff93d08a956c97fbc5f5e8c5778705baf7ae3108
        with:
          path: ${{ matrix.path }}

  docs:
    runs-on: ubuntu-latest
    name: Check terraform documentation

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          working-dir: .
          config-file: .terraform-docs.yml
          fail-on-diff: true
          recursive: true

  tflint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Cache plugin dir
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1

      - name: Init TFLint
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run TFLint
        run: tflint --recursive --config "$(pwd)/.tflint.hcl" -f compact